.card {
  width: 400px;
  height: 200px;
  transition: 0.3s all;
  border: 2px solid rgb(240, 240, 240);
  border-radius: 10px;
  &:hover {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    transition: 0.3s all;
  }
  .cardInfo {
    padding: 20px;
    .cardTitle {
      font-size: 20px;
      font-weight: 500;
    }
    .cardDesc {
      font-weight: 500;
    }
    .cardTags {
      .Tag {
        font-weight: 300;
        color: rgb(20, 20, 20);
      }
    }
  }
}
