.circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: blue;
  position: absolute;
  top: -10%;
  left: -5%;
  box-shadow: 5px 2px 50px 0px blue;
  animation: circle1 3s;
}

.circle2 {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: blue;
  position: absolute;
  top: 80%;
  left: 80%;
  box-shadow: -5px -2px 50px 0px blue;
  animation: circle2 4s;
}

@keyframes circle1 {
  0% {
    top: -50%;
    left: -20%;
  }
  30% {
    top: -50%;
    left: -20%;
  }

  60% {
    top: -8%;
    left: -3%;
  }
  100% {
    top: -10%;
    left: -5%;
  }
}

@keyframes circle2 {
  0% {
    top: 120%;
    left: 100%;
  }
  30% {
    top: 120%;
    left: 100%;
  }

  60% {
    top: 78%;
    left: 78%;
  }
  100% {
    top: 80%;
    left: 80%;
  }
}
